---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('announcements')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={"Home"} description={SITE_DESCRIPTION} />
	</head>
	<body class="flex flex-col bg-gray-50 dark:bg-gray-900">
		<Header title={SITE_DESCRIPTION} />
		<main class="bg-gray-100 dark:bg-gray-800 text-black dark:text-white min-h-screen pb-10">
			<section class="">
				<ul class="mt-10 md:px-10 max-sm:px-2 max-sm:px-2">
					{
						posts.map((post) => (
							<li class="mt-5 border-t-4 border-slate-500 flex gap-4">
								<FormattedDate date={post.data.pubDate} class="w-48" />
								<a class="w-4/5" href={`${import.meta.env.BASE_URL}announcements/${post.slug}/`}>
									<div class="min-h-[160px] max-h-[520px]">
										<p class="font-bold text-2xl">{post.data.title}</p>
										{ post.data.heroImage && <img class="self-center mt-5" width={720} height={360} src={post.data.heroImage} alt="" />}
										<p class="mt-2 self-center">{ post.data.description }</p>
										<p class="mt-3 text-blue-500">... Click to Read more</p>
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
