---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<header class="w-4/5 bg-stone-700 text-stone-50">
	<div class="flex px-5 gap-3 items-center">
		<img src={`${import.meta.env.BASE_URL}/oibird.svg`} width={180} height={180}/>
		<div src="flex flex-row items-center">
		  <p class="text-2xl">{SITE_TITLE}</p>
			<p>{SITE_DESCRIPTION}</p>
		</div>
	</div>
	<nav class="border-t test-xl px-10 h-10 flex gap-4 justify-evenly items-center">
		<HeaderLink href={`${import.meta.env.BASE_URL}`}>Announcements</HeaderLink>
		<HeaderLink href={`${import.meta.env.BASE_URL}community`}>Community</HeaderLink>
		<HeaderLink href="//docs.openindiana.org">Documentation</HeaderLink>
		<HeaderLink href={`${import.meta.env.BASE_URL}packages`}>Package Repositories</HeaderLink>
		<HeaderLink href="//www.openindiana.org/bugs">Issue Tracker</HeaderLink>
		<HeaderLink href={`${import.meta.env.BASE_URL}downloads`}>Downloads</HeaderLink>
		<HeaderLink href={`${import.meta.env.BASE_URL}socials`}>Social Channels</HeaderLink>
		<HeaderLink href="//github.com/openindiana" target="_blank">GitHub</HeaderLink>
	</nav>
</header>
